

:root{
  --primary-link-color:#2196F3;
  --second-link-color:#757575;
  --foncolor:#2F303A;
  --accent-color:#FFFFFF;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

ul{
  margin: 0px;
  padding-left: 0px;
}


img{
  display: block;
}

.body{
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  color: #212121;
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.container{
  width: 1200px;
  padding: 0px 15px;
margin: 0 auto;
}

.link{
  text-decoration: none;
}

.list{
  list-style: none;
}

.btn{
  font-family: 'Roboto'sans-serif;
  cursor: pointer;
  color: #212121;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  border: transparent;
 transition: color 250ms var(--timing-function), 
  background-color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus{
  color: var(--accent-color);
 background-color: var(--primary-link-color);
}

/*------------------HEADER------------------*/
.header-container{
 background-color: #FFFFFF;
  outline: 1px solid #eeeeee;
  border: none; 
}

header .container{
  position: relative;
  display: flex;
  align-items: center;
  border: none;
}

.header-list{
  display: flex;
  height: 80px;
}

/* ----------------------LOGO---------------------- */

.logo{
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  margin-right: 93px;
}
.accent{
  color: var(--primary-link-color);
}

/* ----------------------NAV---------------------- */
.header-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
}

.link-curreent{
  color: var(--primary-link-color);
}

.header-link:hover,
.header-link:focus{
  color: var(--primary-link-color);
}

.studia{
  margin-right: 53px;
}
.portfolio{
  margin-right: 50px;
}

.header-link{
position: relative;
display: block;
text-decoration: none;
padding: 32px 0px;
}

.link-curreent.studia::after {
  position: absolute;
  align-items: center;
  bottom: 0;
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color:var(--primary-link-color);
  transition: 250ms var(--timing-function);
}

.link-curreent.portfolio::after{
  position: absolute;
  align-items: center;
  bottom: 0;
  content: "";
  display: block;
  width: 76px;
  height: 4px;
  border-radius: 2px;
  background-color:var(--primary-link-color);
  transition: 250ms var(--timing-function);
}

/* ------------------HEADER-CONTAKT------------------ */

.header-cont{
  position: absolute;
  margin-left: auto;
  right: 0;
  align-items: center;
}


.header-tel-mail{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
 transition: color 250ms var(--timing-function);
}

.header-tel-mail:hover,
.header-tel-mail:focus{
  color: var(--primary-link-color)
}

.icon-mail{
  fill: currentColor;
  margin-right: 10px;
}

.header-list-cont{
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: 15px;
}

.header-list-item{
  margin-right: 30px;
}
.header-list-item:last-child{
  margin-right: 0;
}



/* -------------------HERO------------------- */


.hero-center{
padding-top: 200px;
padding-bottom: 200px;
padding-left: 15px;
text-align: center;
background-color: var(--foncolor);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/hero_bg.jpg);
min-width: 1600px;
margin: auto;
}

.title{
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--accent-color);
margin-bottom: 30px;
width: 696px;
} 

.title{
  margin: 0 auto;
  display: block;
}

.btn{
margin: 0 auto;
display: block;
margin-top: 30px;
}

/*------FEATURE------ */


.feature{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.feature .container{
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list-item::before{
  display: block;
  content: '';
  background-repeat: no-repeat;
  height: 120px;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
  background-size: 65.32px 70px;
}
.icon-antenna::before{
 background-image: url(../img/SVG/antenna.svg); 
}

.icon-clock::before{
  background-image: url(../img/SVG/clock.svg) ;
}

.icon-diagram::before{
  background-image: url(../img/SVG/diagram.svg);
}

.icon-astronaut::before{
  background-image: url(../img/SVG/astronaut.svg);
}


.feature-list li+li{
  margin-left: 30px;
}

.feature-list{
  display: flex;
}

.feature-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-link-color);
max-width: 300px;
}

.feature-list li+li {
  margin-left: 30px;
}

/*------DEVELOPMENT------ */



.work-list-item{
  width: calc((100%-60px)/3);
  margin-right: 30px;
}

.work-list-item:nth-child(3n){
  margin-right: 0px;
}


.heading{
  font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.work{
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;
}

.work-thumb{
  position: relative;
}

.work-actions{
  position: absolute;
  bottom: 0;
  width: 370px;
}

.devel-text{

  display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
background: rgba(47, 48, 58, 0.8);
color: #FFFFFF;
padding: 27px;
justify-content: center;

}


/*------TEAM------ */

.team{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.team-container{
background:#F5F4FA ;
padding-top: 94px;
padding-bottom: 94px;
}


.team-soc-list{
display: flex;
justify-content: center;
align-items: center;

}

.team-soc-items{
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  
}

.team-soc-items:not(:last-child)
{
  margin-right: 10px;
}

.team-soc-link{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  background-color: var(--accent-color);
  transition: color 250ms var(--timing-function), 
  background-color 250ms var(--timing-function);
} 

.team-soc-link:hover{
  background-color:var(--primary-link-color);
  color: var(--accent-color);
 
}

 .team-soc-icons{
  fill: currentColor;
}

.member-team-list{
  display: flex;
}

.our-team{
  padding-bottom: 50px;
}

.member-team {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
margin-top: 30px;
margin-bottom: 10px;
}
.card{
  background-color: #FFFFFF;
}
.card-member{
width: 270px;
background: #FFFFFF;
background-color: transparent;
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px
 rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.job-title {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-link-color);
/* padding-bottom: 30px; */
margin-bottom: 16px;
}


/*-----------REGULAR CUSTOMERS----------- */

.customers{
padding-top: 94px;
padding-bottom: 94px;
}
.custoumer-list{
  margin-top: 50px;
  display: flex;
}

.custoumer-list li+li{
  margin-left: 30px;
}

.custoumer-list {
  display: flex;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

.customer-link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color:#AFB1B8;
 transition: color 250ms var(--timing-function), 
  border-color 250ms var(--timing-function);
}
.customers-icon {
  fill: currentColor;
}
.customer-link:hover,
.customer-link:focus {
  color: var(--primary-link-color);
  border-color: var(--primary-link-color);
}


/* --------------------------- PORTFOLIO------------------------- */

/* --------------------------- HERO------------------------- */

.header{
  border: 1px solid #ECECEC;
 
}
.button-work-list{
  display: flex; 
  padding-top:100px;
  padding-bottom: 56px;
  justify-content: center;
}

.button-work-list li+li{
  margin-left: 30px;
}

.btn-work{
padding: 6px 22px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
margin-top: 0;
border: transparent;
}

/* --------------------------- OUR WORKS------------------------- */

.produkt-thumb{
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.port-cards-text{
position: absolute;
top: 0;
font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 1.56;
padding: 63px 24px;
letter-spacing: 0.03em;
background: rgba(33, 150, 243, 0.9);
color: #FFFFFF;
height: 100%;
transform: translateY(100%);
transition: transform 250ms var(--timing-function);
}

.item:hover .port-cards-text{
  transform: translateY(0) ;
}


.work-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}


.work-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-left: 24px;
margin-bottom: 4px;
}

.work-text{
font-weight: 400;
font-size: 16px;
line-height: 1.89;
letter-spacing: 0.03em;
color: var(--second-link-color);
margin-left: 24px;
margin-bottom: 20px;
}
.item{
border: 1px solid #EEEEEE;
margin-bottom: 30px;
background: #FFFFFF;
margin-right: 30px;
width: 370px;
}


.item:nth-last-child(-n+3){
    margin-bottom: 0;}


.item:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
   0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item>p{
  margin-bottom: 20px;
}

.item>h2{
  margin-bottom: 4px;
}

.item:nth-child(3n){
  margin-right: 0;
} 

/*------FOOTER------ */


.footer-cont{
   display: flex;
background-color:var(--foncolor);
padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container{
  width: 231px;
}

.firstlogofooter{
 color: var(--primary-link-color)
}

.secondtlogofooter {
  color: var(--accent-color);
 }

 .logofooter{
  margin-bottom: 28px;
   max-width: 231px;
 }

 .footer-address{
  max-width: 231px;
 }

 .contactfooter{
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-bottom: 12px;
color: #FFFFFF;
 }

 .footer-social{
  margin-left: 70px;
 }

 .footer-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
 }

 .footer-soc-list{
display: flex;
}

.footer-soc-items{
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  
}

.footer-soc-items:not(:last-child)
{
  margin-right: 10px;
}

.footer-soc-link{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
 background: rgba(255, 255, 255, 0.1);
 transition: color 250ms var(--timing-function), 
  background-color 250ms var(--timing-function);
}

.footer-soc-link:hover{
  background-color:var(--primary-link-color);
  color: var(--accent-color);
}

.footer-soc-icons{
  fill: currentColor}

  .right-footer{
    margin-left: 93px;
    display: flex;
  }

.right-footer-mail{
  display: flex;
}
.footer-mail{
  display: block;
}

.footer-mail > p{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
  }

.footer-mail-btn>p{
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
opacity: 0;
}

.right-footer-input{
  width: 358px;
  padding: 15px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: #FFFFFF;
}
.right-footer-input::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.25;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.btn-submit-footer{
  display: flex;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
margin-left: 12px;
letter-spacing: 0.06em;
background-color: var(--primary-link-color);
color: #FFFFFF;
width: 200px;
height: 50px;
margin-top: 0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
align-items: center;
justify-items: center;
}

.btn-footer-icons{
  margin-left: 10px;
}

.btn-submit-footer
/*------MODAL------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opasity 250ms var(--timing-function), 
  visibility 250ms var(--timing-function);
  
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden.modal {
  transform: scale(1.1) translate(-50%, -50%) scale(0.9);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: 250ms var(--timing-function);
   padding: 40px 40px 50px 40px;
}

.modal-close{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  fill: #000000;
  background-color: rgba(255, 255, 255, 1);
  transition: 250ms var(--timing-function);
}

.modal-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #757575;
}

.cross-modal-icons{
  fill: #757575;
}

.cross-modal-icons:hover{
  fill: #2196F3;
}


.modal-head{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 30px;
}

.btn-submit{
width: 200px;
height: 50px;
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.modal-input{

width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
outline: none;
border-radius: 4px;
padding: 12px 15px 12px 42px;
color:#757575;
cursor: pointer;
transition: border 250ms var(--timing-function);
}

.modal-input:hover,
.modal-input:focus{
border: 1px solid #2196F3;
}

.modal-input-coment:hover,
.modal-input-coment:focus{
border: 1px solid #2196F3;
}



.modal-input:focus + svg,
.modal-input:hover + svg{
  fill: #2196F3}

.modal-input::placeholder{
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.form-field{
  margin-bottom: 28px;
}
 .form-field label{
  display: block;
margin-bottom: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #757575;

 }
.modal-text{
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
resize:none;
width: 100%;
height: 120px;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
 outline: none;
}

.modal-text:hover,
.modal-text:focus{
  border: 1px solid #2196F3;
}

.modal-input-wrapper{
  position: relative;
  color: rgba(117, 117, 117, 0.5);
}

.label-coment{
  display: block;
margin-bottom: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #757575;
}


.modal-icons-cont{
   position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

/* -----------checkbox----------- */

.modal-politik-label{
  display: flex;
  margin-left: 12px;
  align-items: center;
}
label.modal-politik-label::before{
content: "";
width: 16px;
height: 15px;
border: 2px solid #212121;
border-radius: 2px;
margin-right: 7px;

}

.checkbox:checked + label::before{
  border: none;
  background-color: var(--primary-link-color);
  background-image: url(../img/galochka.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox{
  appearance: none;
 
}
.checkbox-link{
  display: inline;
   color: var(--primary-link-color);
  margin-left: 3px;
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.checkbox-text{
  display: inline;
  color: #757575;
  margin-left: 3px;
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}









