@import "./base/reset";
@import "./base/common";
@import "./utils/mixin";
@import "./utils/variables";
@import "./utils/placeholder";
@import "./components/container.scss";
@import "./components/btn";
@import "./components/logo";
@import "./components/heading";
@import "./components/header";

@import "./components/hero";
@import "./components/about";
@import "./components/benefits";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";
@import "./components/modal";

@import "./components/portfolio-hero";
@import "./components/portfolio-our-works";

/*------------------HEADER------------------*/

/* -------------------HERO------------------- */

/*------FEATURE------ */

/*------DEVELOPMENT------ */

/*------TEAM------ */

/*-----------REGULAR CUSTOMERS----------- */

/* --------------------------- PORTFOLIO------------------------- */

/* --------------------------- HERO------------------------- */

/* --------------------------- OUR WORKS------------------------- */

/*------FOOTER------ */

/*------MODAL------ */
