.benefits {
  @include font(14, null, 1.14, 0.03);
  text-transform: uppercase;
  & .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__icon-antenna::before {
  background-image: url(../img/SVG/antenna.svg);
}

.benefits__icon-clock::before {
  background-image: url(../img/SVG/clock.svg);
}

.benefits__icon-diagram::before {
  background-image: url(../img/SVG/diagram.svg);
}

.benefits__icon-astronaut::before {
  background-image: url(../img/SVG/astronaut.svg);
}

.benefits__list {
  display: flex;
  & li + li {
    margin-left: 30px;
    width: 270px;
  }
}

.benefits__item::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  height: 120px;
  background-color: #f5f4fa;
  background-position: center;
  margin-bottom: 30px;
  background-size: 65.32px 70px;
}

.benefits__text {
  @include font(14, 400, 1.71, 0.03);
  color: var(--second-link-color);
  width: 270px;
}
.benefits__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
