.footer .container {
  background-color: var(--foncolor);
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 15px;
    display: flex;
  }
}

.footer-info {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    text-align: center;
    margin-right: 165px;
    margin-left: 76px;
  }
}

.logoplace {
  padding-bottom: 28px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer__logo {
  @include font(24, 700, 1.17, 0.03);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    @include font(26, 700, 1.19, 0.03);
    padding-left: 0px;
    margin-bottom: 28px;
  }
}

.contact {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    padding-left: 0px;
    padding-right: 94px;
    padding-top: 28px;
  }
}

.contact__list > li:not(:last-child) {
  margin-bottom: 12px;
}

.footer-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer-contact-mail,
.footer-contact-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  @media screen and (min-width: 768px) {
    padding-right: 89px;
  }
}

.footer-title {
  @include font(14, 700, 1.14, 0.03);
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 5px;
  }
}

.right-footer-input {
  @extend %flex-alighn;
  padding: 15px;
  background: var(--foncolor);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--accent-color);
  &::placeholder {
    @include font(16, 400, 1.25, 0.03);
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.right-footer-mail {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-mail > p {
  @include font(14, 700, 1.14, 0.03);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    padding-top: 5px;
  }
}

.footer-mail-btn > p {
  @include font(14, 700, 1.14, 0.03);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
    padding-top: 5px;
    text-align: start;
    display: block;
    opacity: 0;
  }
}
.btn-submit-footer > p {
  @media screen and (min-width: 1200px) {
    text-align: center;
  }
}

.btn-submit-footer {
  @extend %flex-alighn;
  @include font(16, 700, 1.88, 0.06);
  background-color: var(--primary-link-color);
  color: var(--accent-color);
  width: 200px;
  height: 50px;
  margin-top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-items: center;
  @media screen and (min-width: 480px) {
    margin: auto;
  }
}
