.header-container {
  background-color: #ffffff;
}

header .container {
  @extend %flex-alighn;
  position: relative;
  border: none;
}




/* ----------------------LOGO---------------------- */

.logo {
  &-accent {
    color: var(--primary-link-color);
  }
}
.header__logo {
padding-top: 24px;
padding-bottom: 25px;
margin-right: 91px;
}

/* ----------------------NAV---------------------- */
.navigation{
  display: flex;
}
.navigation__list {
  display: flex;
  height: 80px;
  &-cont {
    @extend %flex-alighn;
    height: 80px;
    margin-right: 15px;
  }
  &-item {
    margin-right: 30px;
  }
  &-item:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  @include font(14, 500, 1.14, 0.02);
  position: relative;
  display: block;
  text-decoration: none;
  padding: 32px 0px;
  color: #212121;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--primary-link-color);
  }
}

.navigation__link__curreent  {
  color: var(--primary-link-color);
  &.studia::after {
    position: absolute;
    align-items: center;
    bottom: 0;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-link-color);
    transition: 250ms var(--timing-function);
  }
  &.portfolio::after {
    position: absolute;
    align-items: center;
    bottom: 0;
    content: "";
    display: block;
    width: 76px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-link-color);
    transition: 250ms var(--timing-function);
  }
}

.studia {
  margin-right: 53px;
}
.portfolio {
  margin-right: 50px;
}


.connection {
  display: flex;
  position: absolute;
  margin-left: auto;
  right: 0;
  align-items: center;
}

.connection__tel-mail {
  @extend %flex-alighn;
  @include font(14, 500, 1.14, 0.02);
  color: #757575;
  margin-right: 30px;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--primary-link-color);
  }
}

.connection__icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.connection__tel-mail:last-child{
  margin-right: 0;
}