.hero .container{

padding-left: 15px;
text-align: center;
background-color: var(--foncolor);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: auto;
   @media screen and (min-width: 480px) {
    padding-bottom: 118px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),url(../img/hero_bg_mob.jpg);
@include retina{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),url(../img/hero_bg_mob-2x.jpg);
}
  }

 @media screen and (min-width: 768px) {
width: 100%;
padding-bottom: 118px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),url(../img/hero_bg_tab.jpg);

@include retina{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),url(../img/hero_bg_tab-2x.jpg);
}
}
   @media screen and (min-width: 1200px) {
    padding-top: 200px;
padding-bottom: 200px;
max-width: 1600px; 
background-image: linear-gradient(rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),url(../img/hero_bg.jpg);

@include retina{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),url(../img/hero_bg-2x.jpg);
}
  }

}

.picture__title{
@include font(44, null, 1.36, 0.06);
text-align: center;
text-transform: uppercase;
color: var(--accent-color);
width: 696px;
margin: 0 auto;
display: block;
 @media screen and (max-width: 1199px) {
  @include font(26, 900, 1.62, 0.06);
   padding: 118px 60px 30px 60px;
   margin: 0px;
   width: 100%;

  }
} 

.picture__btn {
 @media screen and (max-width: 1199px) {
padding: 10px 20px;
margin-top: 0px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--primary-link-color);
  }
}

