.team {
  @include font(36, 700, 1.17, 0.03);
  background: #f5f4fa;
  text-align: center;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & .heading {
    @media screen and (max-width: 1199px) {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 1.18;
      color: #212121;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}

.member-team-list {
  margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.social {
  @extend %flex-alighn;
  justify-content: center;
}

.social__items {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  @extend %flex-alighn;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  background-color: var(--accent-color);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover {
    fill: var(--accent-color);
    background-color: var(--primary-link-color);
  }
}

.card__name {
  @include font(16, 500, 1.19, 0.03);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  &-list {
    display: flex;
  }
}

.card {
  background-color: #ffffff;
  &-member {
    width: 270px;
    background: #ffffff;
    background-color: transparent;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &-member {
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      margin: 0px;
    }
  }
}
.card-member:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.card-member:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.card__job-title {
  @include font(16, 400, 1.19, 0.03);
  text-align: center;
  color: var(--second-link-color);
  margin-bottom: 16px;
}