:root{
  --primary-link-color:#2196F3;
  --second-link-color:#757575;
  --foncolor:#2F303A;
  --accent-color:#FFFFFF;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--light-color {
  @extend %flex-alighn;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  background-color: var(--accent-color);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover {
    fill: var(--accent-color);
    background-color: var(--primary-link-color);
    
  }
}
.social__link--dark-color{
  @extend %flex-alighn;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover {
    background-color: var(--primary-link-color);
    fill: var(--accent-color);
  }
}
