.work-list-item{
  width: calc((100%-60px)/3);
  margin-right: 30px;
}

.work-list-item:nth-child(3n){
  margin-right: 0px;
}


.heading{
  font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.work{
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;
}

.work-thumb{
  position: relative;
}

.work-actions{
  position: absolute;
  bottom: 0;
  width: 370px;
}

.devel-text{

  display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
background: rgba(47, 48, 58, 0.8);
color: #FFFFFF;
padding: 27px;
justify-content: center;

}