.footer-cont{
   display: flex;
background-color:var(--foncolor);
padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container{
  width: 231px;
}

.firstlogofooter{
 color: var(--primary-link-color)
}

.secondtlogofooter {
  color: var(--accent-color);
 }

 .logofooter{
  margin-bottom: 28px;
   max-width: 231px;
 }

 .footer-address{
  max-width: 231px;
 }

 .contactfooter{
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-bottom: 12px;
color: #FFFFFF;
 }

 .footer-social{
  margin-left: 70px;
 }

 .footer-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
 }

 .footer-soc-list{
display: flex;
}

.footer-soc-items{
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  
}

.footer-soc-items:not(:last-child)
{
  margin-right: 10px;
}

.footer-soc-link{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
 background: rgba(255, 255, 255, 0.1);
 transition: color 250ms var(--timing-function), 
  background-color 250ms var(--timing-function);
}

.footer-soc-link:hover{
  background-color:var(--primary-link-color);
  color: var(--accent-color);
}

.footer-soc-icons{
  fill: currentColor}

  .right-footer{
    margin-left: 93px;
    display: flex;
  }

.right-footer-mail{
  display: flex;
}
.footer-mail{
  display: block;
}

.footer-mail > p{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
  }

.footer-mail-btn>p{
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
opacity: 0;
}

.right-footer-input{
  width: 358px;
  padding: 15px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: #FFFFFF;
}
.right-footer-input::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.25;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.btn-submit-footer{
  display: flex;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
margin-left: 12px;
letter-spacing: 0.06em;
background-color: var(--primary-link-color);
color: #FFFFFF;
width: 200px;
height: 50px;
margin-top: 0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
align-items: center;
justify-items: center;
}

.btn-footer-icons{
  margin-left: 10px;
}