.footer-cont {
  display: flex;
  background-color: var(--foncolor);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  width: 231px;
}

.firstlogofooter {
  color: var(--primary-link-color);
}

.secondtlogofooter {
  color: var(--accent-color);
}

.logofooter {
  margin-bottom: 28px;
  max-width: 231px;
}

.footer-address {
  max-width: 231px;
}

.contactfooter {
  @include font(14, 400, 1.14, 0.03);
  display: block;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-social {
  margin-left: 70px;
}

.footer-title {
  @include font(14, 700, 1.14, 0.03);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-items {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-soc-link {
  @extend %flex-alighn;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover {
    background-color: var(--primary-link-color);
    color: var(--accent-color);
  }
}

.footer-soc-icons {
  fill: currentColor;
}

.right-footer {
  margin-left: 93px;
  display: flex;
}

.right-footer-mail {
  display: flex;
}
.footer-mail {
  display: block;
  & > p {
    @include font(14, 700, 1.14, 0.03);
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &-btn > p {
    @include font(14, 700, 1.14, 0.03);
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    opacity: 0;
  }
}

.right-footer-input {
  width: 358px;
  padding: 15px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  &::placeholder {
    @include font(16, 400, 1.25, 0.03);
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
}

.btn-submit-footer {
  @extend %flex-alighn;
  @include font(16, 700, 1.88, 0.06);
  margin-left: 12px;
  background-color: var(--primary-link-color);
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin-top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-items: center;
}

.btn-footer-icons {
  margin-left: 10px;
}
