.header-container{
 background-color: #FFFFFF;
  outline: 1px solid #eeeeee;
  border: none; 
}

header .container{
  position: relative;
  display: flex;
  align-items: center;
  border: none;
}

.header-list{
  display: flex;
  height: 80px;
}

/* ----------------------LOGO---------------------- */

.logo{
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  margin-right: 93px;
}
.accent{
  color: var(--primary-link-color);
}

/* ----------------------NAV---------------------- */
.header-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
}

.link-curreent{
  color: var(--primary-link-color);
}

.header-link:hover,
.header-link:focus{
  color: var(--primary-link-color);
}

.studia{
  margin-right: 53px;
}
.portfolio{
  margin-right: 50px;
}

.header-link{
position: relative;
display: block;
text-decoration: none;
padding: 32px 0px;
}

.link-curreent.studia::after {
  position: absolute;
  align-items: center;
  bottom: 0;
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color:var(--primary-link-color);
  transition: 250ms var(--timing-function);
}

.link-curreent.portfolio::after{
  position: absolute;
  align-items: center;
  bottom: 0;
  content: "";
  display: block;
  width: 76px;
  height: 4px;
  border-radius: 2px;
  background-color:var(--primary-link-color);
  transition: 250ms var(--timing-function);
}

/* ------------------HEADER-CONTAKT------------------ */

.header-cont{
  position: absolute;
  margin-left: auto;
  right: 0;
  align-items: center;
}


.header-tel-mail{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
 transition: color 250ms var(--timing-function);
}

.header-tel-mail:hover,
.header-tel-mail:focus{
  color: var(--primary-link-color)
}

.icon-mail{
  fill: currentColor;
  margin-right: 10px;
}

.header-list-cont{
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: 15px;
}

.header-list-item{
  margin-right: 30px;
}
.header-list-item:last-child{
  margin-right: 0;
}