.customer {
  padding-top: 94px;
  padding-bottom: 94px;
  &-icon {
    fill: currentColor;
  }
}

.custoumer-list {
  @include font(36, null, 1.16, null);
  display: flex;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  margin-top: 50px;
  & li + li {
    margin-left: 30px;
  }
}

.customer-link {
  @extend %flex-alighn;
  box-sizing: border-box;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--primary-link-color);
    border-color: var(--primary-link-color);
  }
}
