.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  &-container {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-soc-icons {
    fill: currentColor;
  }
}

.team-soc-items {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  background-color: var(--accent-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover {
    background-color: var(--primary-link-color);
    color: var(--accent-color);
  }
}

.our-team {
  padding-bottom: 50px;
}

.member-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  &-list {
    display: flex;
  }
}

.card {
  background-color: #ffffff;
  &-member {
    width: 270px;
    background: #ffffff;
    background-color: transparent;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-link-color);
  margin-bottom: 16px;
}
